<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reproduciendo Video</title>
</head>
<body style="background-color: black;">

    <video id="myVideo" autoplay width="1920px" height="1080px">
        <source src="/videos/summon.mp4" type="video/mp4">
    </video>

    <script>
        let video = document.getElementById("myVideo");

        video.onended = function() {
            window.location.href = "http://localhost:3000/views/users/tiradaGachapon.php";
        };
    </script>

</body>
</html>
